/* Separación entre toolbar y sidenav-container */
mat-toolbar {
  margin-bottom: 10px;
  background: var(--mat-sys-surface-variant);
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav-content {
  padding-left: 10px;
}

