<div class="user-root">
  
  <!-- Botón para alternar vista -->
  <div>
    <button mat-button 
            
            (click)="switchToLogin()">
      Iniciar Sesión
    </button>
    <button mat-button 
           
            (click)="switchToRegister()">
      Registrarse
    </button>
  </div>


  <mat-card class="user-card-mat" [@heightAnimation]="currentView()">
    <mat-card-header>
      <mat-card-title class="user-title">
        {{ currentView() === 'login' ? 'Iniciar Sesión' : 'Crear Cuenta' }}
      </mat-card-title>
      <mat-card-subtitle class="user-subtitle">
        {{ currentView() === 'login' ? 'Ingresa tus credenciales para acceder' : 'Completa tus datos para registrarte' }}
      </mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>

        @if (currentView() === 'login') {
          <app-login></app-login>
        } @else {
          <app-register></app-register>
        }

    </mat-card-content>
  </mat-card>

</div>
